services:
  mc:
    extends:
      file: ../../../templates/minecraft.compose.yml
      service: mc-base
    environment:
      TYPE: "PAPER"
      VERSION: "1.21.4"
      MOTD: "\u00a7c\u00a7l@ mc.cow.pet @\u00a7r\n\u00a73MEET MILFS\u00a7r | \u00a76PET COWS\u00a7r | \u00a7dPUNCH MINORS"
      ICON: "https://upload.wikimedia.org/wikipedia/commons/e/ee/Spot_the_cow.png"
      MODRINTH_PROJECTS: >
        bluemap,
        imageframe,
        sleeper,
        chunky,
        interactionvisualizer,
        invsee++,
        axgraves,
        tgbridge:Z4RercuF,
      MEMORY: 4G
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mc.entrypoints=web"
      - "traefik.http.routers.mc.rule=Host(`mc.cow.pet`) && PathPrefix(`/map/`)"
      - "traefik.http.routers.mc.middlewares=strip-map"
      - "traefik.http.middlewares.strip-map.stripPrefix.prefixes=/map"
      - "traefik.http.routers.mc-secure.entrypoints=websecure"
      - "traefik.http.routers.mc-secure.rule=Host(`mc.cow.pet`) && PathPrefix(`/map/`)"
      - "traefik.http.routers.mc-secure.middlewares=strip-map"
      - "traefik.http.services.mc.loadbalancer.server.port=8100"
    networks:
      - traefik

  mc-backup:
    extends:
      file: ../../../templates/minecraft.compose.yml
      service: mc-backup-base

  mc-nginx:
    image: nginx
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./www:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.entrypoints=web"
      - "traefik.http.routers.nginx.rule=Host(`mc.cow.pet`)"
      - "traefik.http.routers.nginx-secure.entrypoints=websecure"
      - "traefik.http.routers.nginx-secure.rule=Host(`mc.cow.pet`)"
    networks:
      - traefik
    restart: always


networks:
  minecraft:
    external: true
  traefik:
    external: true