services:
  mc:
    extends:
      file: ../../../templates/minecraft.compose.yml
      service: mc-base
    environment:
      TYPE: "PAPER"
      VERSION: "1.21.4"
      MOTD: "\u00a7c\u00a7l@ mc.cow.pet @\u00a7r\n\u00a73MEET MILFS\u00a7r | \u00a76PET COWS\u00a7r | \u00a7dPUNCH MINORS"
      ICON: "https://upload.wikimedia.org/wikipedia/commons/e/ee/Spot_the_cow.png"
      MODRINTH_PROJECTS: >
        bluemap,
        imageframe,
        sleeper,
        chunky,
        interactionvisualizer,
        invsee++,
        axgraves,
        tgbridge:Z4RercuF,
      MEMORY: 4G

  mc-backup:
    extends:
      file: ../../../templates/minecraft.compose.yml
      service: mc-backup-base

  mc-nginx:
    image: nginx:alpine
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./www:/usr/share/nginx/html:ro
      - /mnt/ssd/minecraft/data/${SERVER_NAME:?set SERVER_NAME}/bluemap/web:/var/www:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.nginx.entrypoints=web"
      - "traefik.http.routers.nginx.rule=Host(`mc.cow.pet`)"
      - "traefik.http.routers.nginx-secure.entrypoints=websecure"
      - "traefik.http.routers.nginx-secure.rule=Host(`mc.cow.pet`)"
    networks:
      - minecraft
      - traefik
    restart: always


networks:
  minecraft:
    external: true
  traefik:
    external: true