services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    environment:
      - TZ=America/Los_Angeles
      - JELLYFIN_FFmpeg__probesize=50M
      - JELLYFIN_FFmpeg__analyzeduration=5M
    volumes:
      - ./config/jellyfin/config:/config
      - ./config/jellyfin/cache:/cache
      - /mnt/ssd/stream/media:/media:ro
    devices:
      - /dev/dri:/dev/dri
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.stream.rule=Host(`stream.cow.pet`)"
      - "traefik.http.routers.stream.entrypoints=websecure"
      - "traefik.http.services.stream.loadbalancer.server.port=8096"
    networks: [traefik]

networks:
  traefik:
    external: true
