services:
  stremio:
    build:
      context: ./stremio-web
      dockerfile: Dockerfile
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.stremio-web.rule=Host(`stream.cow.pet`)
      - traefik.http.routers.stremio-web.entrypoints=websecure
      - traefik.http.routers.stremio-web.tls=true
      - traefik.http.services.stremio-web.loadbalancer.server.port=8080
    networks:
      - traefik

  stremio-server:
    image: stremio/server:latest
    restart: unless-stopped
    volumes:
      - ./stremio-server:/root/.stremio-server
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - "105"
    environment:
      - LIBVA_DRIVER_NAME=iHD
      - NO_CORS=1
    labels:
      - traefik.enable=true
      - traefik.http.routers.stremio-srv-http.rule=Host(`stremio.stream.cow.pet`)
      - traefik.http.routers.stremio-srv-http.entrypoints=websecure
      - traefik.http.routers.stremio-srv-http.tls.certresolver=cloudflare
      - traefik.http.routers.stremio-srv-http.tls=true
      - traefik.http.services.stremio-srv-http.loadbalancer.server.port=11470
      - traefik.http.services.stremio-srv-http.loadbalancer.server.scheme=http


    networks:
      - traefik


networks:
  traefik:
    external: true
